.white {
    color: white;
}

.v {
    fill: white;
}

.A {
    fill: white;
}

.B {
    fill: white;
}

.M {
    fill: white;
}

.AA {
    fill: rgb(96, 127, 185);
}

.AB {
    fill: rgb(96, 127, 185);
}

.AC {
    fill: rgb(96, 127, 185);
}

.AD {
    fill: rgb(96, 127, 185);
}

.AE {
    fill: rgb(96, 127, 185);
}

.AF {
    fill: rgb(96, 127, 185);
}

.F1 {
    fill: grey;
}

.F2 {
    fill: grey;
}

.F3 {
    fill: grey;
}

.F4 {
    fill: grey;
}

.F5 {
    fill: grey;
}

.ROUE {
    fill: #d35649;
}

.S {
    fill: white
}

.MAPNAV {
    fill: white;
    border-style: solid;
    border-color: white;
    border-radius: 800px;
    background-color: black;
}

.MAP {
    fill: #d35649;
}

.orange {
    color: #ef5350;
}

.black {
    color: black;
}

article {
    width: 100%;
    box-shadow: 0 0 20px;
    background-color: #fff;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 47px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    border-style: outset;
    border-bottom: rgb(65, 35, 14);
}

.btn:hover {
    background-color: darkblue;
}

.BTN-fluid:hover {
    text-decoration: underline;
}

.first :hover {
    text-decoration: underline;
}

.link :hover {
    text-decoration: underline;
}

.F1 :hover {
    fill: rgb(27, 79, 221);
}

.F2 :hover {
    fill: rgb(27, 79, 221);
}

.F3 :hover {
    fill: rgb(27, 79, 221);
}

.F4 :hover {
    fill: rgb(27, 79, 221);
}

.F5 :hover {
    fill: rgb(27, 79, 221);
}

.Footlink {
    fill: black;
    background-color: grey;
}